<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isec.memorygame" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SobreActivity" android:screenOrientation="portrait"/>
        <activity android:name=".OpcoesActivity" android:screenOrientation="portrait" />
        <activity android:name=".SinglePlayerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FimJogoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".IdentificaJogador" android:screenOrientation="portrait"/>
        <activity android:name=".IdentificaJogadores" android:screenOrientation="portrait"/>
        <activity android:name=".MultiPlayerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".fimMultiActivity" android:screenOrientation="portrait"/>
        <activity android:name=".HistoricoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".GalleryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AddImageGallery" android:screenOrientation="portrait"/>
        <activity android:name=".AddGalleryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EmRedeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".GameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FimJogoRedeActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>
